body {
    background-image: url(img-extra/FondoPokeData.jpg);
    background-attachment: fixed;
    background-size: cover;
}
img {
    width: 45%;
    display: block;
    margin: auto;
}
h1 {
    text-align: center;
    font-family: 'Croissant One', cursive;
    font-size: 2vw; /*cambié a vh (viewport height) para que sea responsive*/
    color: rgb(41, 37, 37);
    margin: 2px; /*cambié de 0px a 2px*/
}
#filterDiv {
    background-color: rgb(59, 194, 59);
    background-size: 30%;
    margin-right: 10%;
    margin-left: 10%;
    padding: 8px;
    border-radius: 20px;
    /* justify-content: space-between; */
    /* display: inline-block; */
}
p {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-right: 20%;
    margin-left: 10%;
}
li {
    display: inline-flex;
    padding: 30px 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
    border-radius: 10px;
    background:#FFCB05;  /* var(--Amarillo-Pokemon-100, #FFCB05); */
    box-shadow: 5px 3px 3px rgba(134, 131, 131, 0.774); /* sombra */
    margin: 2%;
}
.img {
    display: flex;
    width: 150px; /*width/height: 141px;*/ 
    height: 150px;
    justify-content: center;
    align-items: center;
}
.name {
    display: flex;
    width: 141px;
    height: 30px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background:#3466AF; /* var(--azul-pokemon-100, #3466AF); */
    color: #FCFEFE; /* var(--Blanco, #FCFEFE); */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
ul {
    list-style: none;/* */
    padding-left: 52px; /* cambié de estilo 18:13pm  */
    align-items: baseline; /* cambié de estilo 18:13pm  */
}
footer { /* añadí footer styles */
    font-display: center;
    font-family: 'Croissant One', cursive;
    text-align: center;
}
.footStyles {  /* añadí footer styles */
    font-display: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
#buttonstyle{ /*añadí estilos a el botón*/
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: cornflowerblue;
    border-radius: 10px;
    color: rgb(41, 37, 37);
    font-weight: bold;
}