body {
    /* background-image: url(img-extra/FondoPokeData.jpg); */
    background-image: url(img-extra/FondoPAISAJEPOKEMÓN.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.imgTitle {
    width: 45%;
    height: auto;
    display: block;
    margin: auto;
}
h1 {
    text-align: center;
    font-family: 'Gaegu', cursive;
    font-size: 2.3vw; /*cambié a vh (viewport weight) para que sea responsive*/
    font-weight: bolder;
    /*color: rgb(41, 37, 37);*/
    color: #1A396F;
    margin: 2px; /*cambié de 0px a 2px*/
    padding-bottom: 8px;
}
#filterDiv {
    background-color: #58AD4F;
    background-size: 30%;
    margin-right: 10%;
    margin-left: 10%;
    padding: 8px;
    border-radius: 20px;
    align-content: center;
}
label {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-right: 0%;
    margin-left: 6%;
}
.individualCard {
    display: inline-flex;
    padding: 30px 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
    border-radius: 10px;
    background:#FFCB05;
    box-shadow: 5px 3px 3px rgba(134, 131, 131, 0.774); 
    margin: 2%;
}
img {
    width: 141px;
    height: 141px;
}
.typeCPHP {
    align-content:center;
    width: 150px;
    height: 37px;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #1A396F;
}

dd[itemprop='type'] {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.50);
    justify-content: center;
    margin: 0%;
    font-size: small;
    text-align: center;
    display: flex;
    padding-top: 1px;
    align-items: center;
}
dd[itemprop='max-cp'] {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.50);
    display: flex;
    text-align: center;
    gap: 5px;
    margin: 0%;
    font-size: small;
    justify-content: center;
    align-items: center;
}
dd[itemprop='max-hp'] {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.50);
    display: flex;
    text-align: center;
    gap: 5px;
    margin: 0%;
    font-size: small;
    justify-content: center;
    align-items: center;
}
dd[itemprop="image"] {
    display: flex;
    width: 150px; /*width/height: 141px;*/ 
    height: 150px;
    justify-content: center;
    align-items: center;
    margin: 0%;
}
dd[itemprop="name"] { /* selector de */
    display: flex;
    width: 141px;
    height: 30px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background:#3466AF; /* var(--azul-pokemon-100, #3466AF); */
    color: #FCFEFE; /* var(--Blanco, #FCFEFE); */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0%;
}
.boxCard {
    list-style: none;/* */
    padding-left: 52px; /* cambié de estilo 18:13pm  */
    align-items: baseline; /* cambié de estilo 18:13pm  */
    display: flex;
    flex-wrap: wrap;
}
footer{
    background-color: #3466AF;
    background-size: contain;
    margin: 0px;
}
.footStyles {  /* añadí footer styles */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: normal;
    /*nuevos estilos al lunes 2*/
    margin: 0px;
    padding: 5%;
}
#buttonstyle { /*añadí estilos a el botón*/
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #DFE094;
    border-radius: 10px;
    color: rgb(41, 37, 37);
    font-weight: bold;
}
select {
    margin-left: 1%;
}
.type{
    background-color: pink;
}
header{
    background-color: none;
}
button {
    margin-left: 6%;
}

@media (min-width: 768px) {
    #filterDiv {
      flex-wrap:wrap;
      flex-direction: row;
      justify-content: center;
      display: flex;
      align-items: center;
    }
}